@{
    ViewBag.Title = "PTC";
}

@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app-cycling.js"></script>
    <script src="~/Scripts/Controllers/cyclingController.js"></script>
}


<div ng-app="app-cycling">
    <div ng-controller="cyclingController as vm">
        <!--BEGIN HIDDEN FIELDS AREA-->
        <!-- END HIDDEN FIELDS AREA -->
        <!-- BEGIN SEARCH AREA -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Search For Trips</h1>
            </div>
            <form novalidate name="searchForTrips">
                <div class="panel-body">

                    <div class="form-group">
                        <label for="name">Trip Name</label>
                        <input class="form-control" type="text" id="name" name="name" ng-model="vm.tripName" />
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button id="btnSearch" class="btn btn-sm btn-primary" ng-click="vm.searchTrip()">Search</button>
                        <button id="btnReset" class="btn btn-sm btn-primary">Reset</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- END SEARCH AREA -->
        <!-- BEGIN LIST AREA -->
        <div class="row">
            <div class="table-responsive">

                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Trip Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="trip in vm.trips">
                        <td><a ng-click="vm.showStops(trip)">{{ trip.username }}</a></td>
                        <td><a ng-click="vm.showStops(trip)">{{ trip.name }}</a></td>
                        <td><a ng-click="vm.showStops(trip)">{{ trip.created | date }}</a></td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">

                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Stop</th>
                            <th>Date</th>
                            <th>Latitude, Longitude</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="stop in vm.stops">
                        <td>{{ stop.location }}</td>
                        <td>{{ stop.arrival | date }}</td>
                        <td>{{ stop.latitude }}, {{ stop.longitude }}</td>
                    </tr>

                </table>
            </div>
        </div>

        <!-- END LIST AREA-->

    </div>
</div>

