@{
    ViewBag.Title = "PTC";
}

@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app-cycling.js"></script>
    <script src="~/Scripts/Controllers/cyclingController.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCSe6WUi43k-PXlNMuzJGa_cwZ12y1_Q"></script>

}


<div ng-app="app-cycling">
    <div ng-controller="cyclingController as vm">

        <div class="row">
            <div class="table-responsive">

                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Trip Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="trip in vm.trips">
                        <td><a ng-click="vm.showStops(trip)">{{ trip.username }}</a></td>
                        <td><a ng-click="vm.showStops(trip)">{{ trip.name }}</a></td>
                        <td><a ng-click="vm.showStops(trip)">{{ trip.created | date }}</a></td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">

                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Stop</th>
                            <th>Date</th>
                            <th>Latitude, Longitude</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="stop in vm.stops">
                        <td>{{ stop.location }}</td>
                        <td>{{ stop.arrival | date }}</td>
                        <td>{{ stop.latitude }}, {{ stop.longitude }}</td>
                    </tr>

                </table>
            </div>
            <button class="btn btn-primary" ng-click="vm.stats()">Trips Stats</button>
        </div>

        <div class="voffset-40"></div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ vm.title }}</div>

                <div class="panel-body">
                    <div class="row">
                        <div id="distancesChartContainer" class="col-md-6">
                            <canvas id="distancesChart"></canvas>
                        </div>
                        <div id="elevationChartContainer" class="col-md-6">
                            <canvas id="elevationChart"></canvas>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
</div>

